--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.10.0
torchvision==0.25.0

unsloth
peft
accelerate
bitsandbytes
transformers
datasets
wandb

langgraph
langchain-community

python-dotenv
uvicorn
fastapi